	 
	.classification
	{
			.leftNav
			{
			}
			.rightContent
			{
					width: calc(100% - 90px); 
					position: absolute;
					top: 3rem;
					left: 86px;
					height: calc(100% - 102px);
					border: 1px solid;
					display: fixed;
					overflow:hidden; 
					.goodsTitle
					{
						padding: 0.2rem 0;
					}
					.van-col--8
					{
						padding: 0.2rem 0.2rem;
						img
						{
							height: 5rem;
							border: 1px solid red;
							display:block;  
						}
						p
						{
							border: 1px solid blue;
							margin: 0;
							padding: 0.2rem 0;
							text-align: center;
						}
					}
			}
	}