	.van-search van-search--show-action
	{
		height: 1.44rem;
    font-size:  1.2rem;
    background: $mainColor;
		border: 1px solid  red;
	}
  .message
  {
     
    padding:  0  0.2rem ;
    color: #fff;
    font-size:  1.2rem;
    display: inline-block;
  }
  .shoppingcart
  {
    padding:  0  0.2rem ;
    width: 1.2rem;
    height: 1.2rem;
    color: #fff;
    font-size:  1.2rem;
    display: inline-block;
  }
	.searchNav
	{
		background: $mainColor;
	}